body{
  background:#b0d0ff;
  font-family:"Helvetica", Sans;
  font-size:11pt;
  margin:0; padding:0;
}

/* rounded corner box */
div.roundedbox {
    position: relative;
    padding: 1em;
    background: white;
    width: 100%;
}

div.rb { 
    position: absolute;
    width: 10px;
    height: 10px;
    background: url('images/corner-w.png') no-repeat;
    font-size: 0%;
}

div.tl { top:0; left:0; background-position: 0 0; }
div.tr { top:0; right:0; background-position: -10px 0; }
div.bl { bottom:0; left:0; background-position: 0 -10px; }
div.br { bottom:0; right:0; background-position: -10px -10px; }
div.rbinside { }

/* page layout elements */
div.main {
  text-align:center;
}

div.centered {
  margin-left:auto;
  margin-right:auto;
  margin-top:0px; margin-bottom:0px;
  background:transparent;
  width:810px;
  padding:10px;
  text-align:center;
}

div.columns {
  margin:0px;
  text-align:justify;
  clear:both;
}

div.column {
  padding-left:30px;
  padding-right:30px;  
  text-align:justify;
  clear:both;
}

div.lcolumn {
  padding:10px;
  padding-left:30px; 
  width:360px;
  clear:left; float:left;
}

div.rcolumn {
  padding:10px;
  padding-right:30px; 
  width:360px;
  clear:right; float:right;
}

}
div.footer {
  padding:2px;
  text-align:right; 
}

div.footer * {
  vertical-align:middle;
  float:right;
}

/* menu */
div.menu {
 vertical-align:middle; background: #808080; opacity:0.7;
 width:auto;
 text-align:left; 
 padding:0.75em 0.5em 0.25em 0.5em; 
}

div.menu .menu {
 text-align:center; color:#ebf3ff; text-decoration:none; font-size:1.1em;
 padding: 0.25em 0.5em 0.25em 0.5em; margin: 0 0.5em 0 0.5em;
}

div.menu .sel {
  color:black; background:white; opacity:1.0;
}

div.menu .menu:hover {
  background:#b0d0ff; color:black; 
}


div.submenu {
 vertical-align:middle; background: white; opacity:0.7;
 width:auto;
 text-align:left; 
 padding:0.0em 0.5em 0.25em 0.5em; 
}


/* sub-menu */
div.submenu .submenu {
 text-align:center; 
 background:white; color:black;  opacity:1.0;
 text-decoration:none; font-size:1.1em;
 padding: 0.2em 0.5em 0.1em 0.5em; margin: 0 0.5em 0 0.5em;
 border:2px; border-top:0px; border-style:solid; border-color:#808080;
}

div.submenu .subsel {
  background:#bbc3d0;color:black; 
}

div.submenu .submenu:hover {
  background:#ebf3ff; color:black; 
}

/* collapsable boxes */
div.cbox {
  padding:0; margin:2em; background: #fff5f1; clear:both; display:block
} 

div.cbox .head {
  background: #eebe8e; font-weight:bold;
  padding:5px; margin:0; cursor:pointer;
  }

div.cbox .body {
  padding:0.5em; margin:0; 
  }

/* links & c */
a img { border:0 }

/* forms */
input.number { width:50px; text-align: right; }
div.label { width:75px; text-align: left; float:left; }
